.navHeader {
  box-shadow: 0 0 0 6px white, 0 7px 4px black;
  display: flex;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 0px;
  margin-bottom: 10px;
}
