.wrapper {
  border-radius: 8px;
  border: 1px solid rgba(16, 24, 40, 0.1);
  padding: 24px;
  height: 520px;
}

.frm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  height: 56px;
  width: 400px;
  border-radius: 10px;
  padding: 18px 18px 18px;
  background-color: rgba(247, 247, 247, 1);
  border: 1px solid lightgray;
  outline: none;
  transition: border-color 0.1s, box-shadow 0.1s;
}

.field:focus {
  border-color: blue;
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.comment {
  resize: none;
  border-radius: 10px;
  background-color: rgba(247, 247, 247, 1);
  border: transparent;
  padding: 18px 18px 18px;
  margin-bottom: 14px;
  border: 1px solid lightgray;
  outline: none;
  transition: border-color 0.1s, box-shadow 0.1s;
}

.comment:focus {
  border-color: blue;
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.error {
  height: 0px;
  color: red;
  font-size: 12px;
  text-align: left;
}

.formGroup {
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  width: 257px;
  font-size: 18px;
  margin-bottom: 8px;
}

.text {
  margin-bottom: 24px;
  font-size: 16px;
  width: 400px;
}

.btn {
  display: block;
  width: 160px;
  height: 56px;
  color: white;
  background-color: rgba(228, 72, 72, 1);
  border: transparent;
  border-radius: 100px;
}
